.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

.navMenu {
  align-content: center;
}

.items {
  display: flex;
  gap: 48px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white-100);
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
