.input-wrapper {
  position: relative;
  width: 384px;
}
.input {
  padding: 23px 16px 23px 56px;
  border: 1px solid rgba(50, 59, 84, 1);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #475069;
}

.icon {
  position: absolute;
  left: 16px;
  top: 20px;
}
