.link {
  color: var(--color-grey-200);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  gap: 8px;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white-100);
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
