.card {
  padding: 8px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  backdrop-filter: blur(80px);
  background: rgba(32, 40, 62, 0.8);
  position: relative;
  max-width: 100%;
}
.poster {
  display: block;
}
.rating {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 8px;
  padding: 4px 8px;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.65);
  color: rgba(255, 173, 73, 1);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.rating::before {
  content: '';
  width: 16px;
  height: 16px;
  background: none;
  background: url('../../../public/star-icon.svg');
}

.favorites {
  color: var(--color-primary);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.favorites::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: none;
  background: url('../../../public/like-icon.svg');
}
